body {
  font-family: sans-serif;
  font-size: 1em;
}

img {
  max-width: 100%;
}

.itemsContainer {
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
}

.event {
  border: 1px solid #999999;
  border-radius: 3px;
  display: grid;
  grid-template-rows: max-content 200px 1fr;
}

.event h1 {
  margin: 0;
  padding: 0.5rem;
}

.event p {
  padding: 0.5rem;
}

.event img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}






