body {
  font-family: sans-serif;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/front-page/southbend.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero h1 {
  padding: 30vh;
  text-align: center;
  color: white;
}

.items-container {
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
}

.event {
  border: 1px solid #999999;
  border-radius: 1px;
  display: grid;
}

.event h3 {
  margin: 0;
  margin-bottom: 10px;
}

.event p {
  margin: 0;
  margin-bottom: 10px;
}

.event img {
  object-fit: cover;
  width: 100%;
  height: 160px;
  overflow: hidden;
  align-self: end;
}






