body {
  font-family: sans-serif;
  margin: 0;
}

.header { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.header a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

.header .website-name {
  float: left;
  padding: 0;
}

.header .website-name h1 {
  margin: 10px;
  margin-left: 20px;
}

.header nav {
  float: right;
  margin-right: 20px;
}

.header nav a {
  padding: 14px 16px;
  font-size: 20px;
}

.header nav a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/about/color3.jpg");
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
}

.hero h1 {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; 
  margin: 0;
}

.about-content {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}
